@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family: "Arvo", serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:greyscale;
}
.hero ,.nav{
  background-color: #f0abfc;
}
.engbtn{
    color: beige;
    --tw-ring-color:rgb (0, 0, 0);
}
.btn2{
    justify-content: end;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
#search-btn {
    background: white url(Component\ 2.png) right no-repeat;
    padding-right: 50px;
}
.header-main{
    padding-top: 35px;
    padding-bottom: 5px;
}
#offer{
  background-color:#4a044e;
}
hr {
  background-color: #f0abfc;
  border-style: none;
  height: 0px;
  width: 30%;
}
.vertical-row {
    Float:left;
    height:auto;
    margin-top: 0;
    width:1px; /* edit this if you want */
    background-color:azure;
    box-shadow: violet;
   } 

   .arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
  }
.menu-item {
  
    position: relative;
}

.submenu {
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    border-radius: 10px;
    flex-direction: column;
    background-color: rgb(254, 254, 254);
    box-shadow: 0 0 10px rgba(31, 2, 17, 0.459);
}

.menu-item:hover .submenu {
  
    display: flex;
}
.submenu:hover .submenu-item{
  border-radius: 10px;
}
#span1{
  position: absolute;
}

  